/*Design Color-scheme 2: Blue-Day Theme*/

/*Should i leave margin at 0 0 0 0  or should i leave it
  at 0 5px 0 5px???*/
body {margin: 0 0 0 0;}



/*Styling rules for the Header-Navigation Bar*/
.header-nav {
    background-color: rgb(41, 62, 112)/*rgba(39, 60, 108, 0.95);/*rgba(39, 60, 108, 0.8) #2E4272*/;
    color: white;/*rgba(255,255,255, 0.85);*/
    padding: 10px 10px 10px 10px;
    box-shadow: inset 3px 3px rgba(22,41,85, 0.30),
                0px 4px rgba(6,21,57, 0.4);
    height: 150px;
    position:fixed;
    top:0%;
    left:0px;
    right:0px;
    bottom:auto;
}
.header-nav #picture{

}
.header-nav nav { float:right; }
.header-nav #author-name {
    position:relative;
    top:62px;
    left: 15%;
    font-style: oblique;
    font-size: /*150%;*/36px;
    font-weight: 900;
    display: inline;
}
.header-nav nav a{
    text-decoration: none;
    padding-right: 30px;
    color: white;/*rgba(255,255,255, 0.85);*/
    font-size: 20px;
    display: inline;
    position:relative;
    top:70px;
    left: -100px;
}
.header-nav nav a:hover{ color: #b9c2d8; /*darkorange;#a7b3cf*/}




.space{ height: 150px; width: 100%; background-color:white;
    margin-bottom: 75px;
}
/*Styling rules for each section*/
.section1,.section2,.section3,.section4{
  text-align: center;
  margin: 0 5px 75px 5px;
  /*background-color:grey; /*Debugging statement: shows how much space each section takes on layout*/
}
/*Styling Rules for the headings of each section*/
.section1 #heading,.section2 #heading-skills,.section3 #heading-projects,.section4 #heading-experience{
  text-shadow: 3px 2px 1px rgba(6,21,57, 0.5);
  font-family: "Frutiger", "Gill Sans", "ITC Goudy Sans", "Mentor Sans";
  font-weight: lighter;
  font-size: 200%;
  letter-spacing: 2px;
}
#picture{
    height:130px;
    width:130px;
    border-radius:65px;
    background-color:grey;
    margin:auto;
}






/*Footer styling rules*/
footer{
  background-color: rgb(169,169,169);/*rgb(58, 58, 58);/*rgba(39, 60, 108, 1);/*rgba(39, 60, 108, 0.8) #2E4272*/
  color: rgba(255,255,255, 0.8);
  height: 100px;
  padding: 0px 10px 0px 10px;

}
footer .social-icons {text-align:center;
                      padding-top: 25px;
}
footer .social-icons a{ padding: 0 15px 0 15px;}
footer .social-icons a:hover {opacity: 0.4;}
