/*Design Color-scheme 1: night Grey theme*/
body {margin: 0 0 0 0;}

.header-nav {
  background-color: rgba(0,0,0, 0.70)/*#808080*/;
  color: white;
  padding: 10px 10px 10px 10px;
  box-shadow: inset 3px 3px rgba(0,0,0, 0.30),  /*4px 4px rgba(0,0,0, 0.35)*/;
  position:absolute;
  top:auto;
  left:0%;
  right:0%;
  bottom:auto;
}
.header-nav nav { float:right; }
.header-nav #author-name {
  font-style: oblique;
  font-size: 110%;
  font-weight: 900;
}
.header-nav #headline-summary {
  font-size: 90%;
}
.header-nav nav a{
    text-decoration: none;
    padding-right: 20px;
    color: white;
    font-size: 105%;
}
.header-nav nav a:hover{ color:darkorange; }
